

.inicio-title {
    margin: var(--measure-6) 0px var(--measure-6) 0px;
    font-size: var(--measure-8);
}

.inicio-title-desc {
    font-size: var(--measure-5);
}

.card-introducao {
    margin: var(--measure-6);
}
