/* Elementos estilizados */

hr {
    margin-bottom: var(--measure-2);
}

/* Classes */

.nav-sidebar {
    position: fixed;
    height: calc(100% - var(--dynamic-header-height));
    width: inherit;

    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--vermelho);
    border-right: 1px solid var(--vermelho-escuro);

    display: flex;
    flex-direction: column;

    transition: .2s ease width;
}

.nav-ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;

    padding: var(--measure-2);
}

.nav-ul > li {
    width: auto;
}

.nav-btn {
    border: none;
    width: 100%;

    border-radius: var(--measure-2);
    padding: var(--measure-3);

    transition: background-color 0.1s ease;

    display: flex;
    align-items: center;
    background-color: var(--vermelho);

    overflow: hidden;
}

.nav-btn > * {
    flex-shrink: 0;
}

.nav-btn > span {
    line-height: 1;
    user-select: none;

    margin-left: var(--measure-3);
    font-size: var(--measure-4);

    color: white;
}

/* Sidebar colapsada */

.nav-sidebar-collapsed .nav-btn > span {
    display: none;
}

/* Seletores */

.nav-btn:hover {
    background-color: var(--vermelho-escuro);
    
    cursor: pointer;
}

.nav-btn-active {
    background-color: var(--vermelho-claro) !important;
}

.account-container {
    margin-top: auto;
    padding: var(--measure-2);
}